################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio 1/.vs
/Laboratorio 2/Laboratorio 2/.vs/Laboratorio 2
/Laboratorio 4/.vs/Laboratorio 4
/.gitignore
/Laboratorio 5/.vs/Laboratorio 5
/Laboratorio6/.vs/Laboratorio6
/Laboratorio 7/.vs/Laboratorio 7
/Laboratorio 6/.vs/Laboratorio6
/Laboratorio 8/.vs/Laboratorio 8
/Laboratorio 10/.vs/Laboratorio 10
/Laboratorio 9/.vs
/Laboratorio 11/.vs/Laboratorio 11
/Laboratorio 12/.vs/Laboratorio 12
